@layer base, starlight, theme, components, utilities, galaxy, my-overrides;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

:root {
  --sl-color-accent-low: #ecfeff;
  --sl-color-accent: #06b6d4;
  --sl-color-accent-high: #0e7490;
  --sl-color-text-accent: #0891b2;
  --sl-color-link: #06b6d4;
  --sl-color-link-hover: #22d3ee;
  --sl-color-bg-accent: #cffafe;
  --sl-color-code-bg: #083344;
  --sl-color-border: #a5f3fc;
}
:root[data-theme='dark'] {
  --sl-color-accent-low: #083344;
  --sl-color-accent: #06b6d4;
  --sl-color-accent-high: #a5f3fc;
  --sl-color-text-accent: #22d3ee;
  --sl-color-link: #22d3ee;
  --sl-color-link-hover: #67e8f9;
  --sl-color-bg-accent: #164e63;
  --sl-color-code-bg: #083344;
  --sl-color-border: #155e75;
}

@layer utilities {
  .focus-ring {
    @apply ring-cyan-500 ring-offset-2 focus:outline-none focus-visible:ring-2;
  }
}
@layer components {
  .sl-link-button {
    @apply bg-cyan-600 hover:bg-cyan-700 text-white;
  }
  .sl-markdown-content a {
    @apply text-cyan-600 hover:text-cyan-700 dark:text-cyan-400 dark:hover:text-cyan-300;
  }
}